@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    font-family: "Manrope", sans-serif;
}

header {
    padding: 2rem;
    background-color:rgb(2, 2, 68);
}

main{
    padding: 2rem;
    text-align: center;
}

input[type='text'], input[type='password'] {
    padding: 0.2rem;
    border: 2px solid rgb(250, 250, 250) ;
    background-color: transparent;
}

h2 {
    color:rgb(62, 98, 255)
}

button[type='button'] {
    border: 2px solid rgb(250, 250, 250) ;
}

